p, h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	
	
}

h2 {
	font-size: 2.5em;
	font-weight: 300;
/*outline: .5px solid gray;*/
text-align: center;
margin-bottom: 11px;
}

p {
	margin: 0 auto;
	max-width: 300px;
	font-weight: 300;
	text-align: center;
	/*outline: .5px solid gray;*/
	}

img {
	width: 65px;
	/*height: auto;*/
	border-radius: 50%;
	margin: 10px auto;
	display: block;	
	}

nav {
	height: 112px;
	background-color: rgb(70, 84, 107);
	border-bottom: 5px solid #e5e509;
}


@media screen and (min-width: 800px){
p{
	max-width: 425px;
}
}

@media screen and (min-width: 450px)
{
p{
	text-align: left;
}
}