
*{
	outline: .5px solid blue;
}

main{
	/*max-width: 700px;*/
	margin: 0 auto;
}

li{
	list-style: none;

	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	padding: 7px;
}
.navLink {
color: white;	
}

#introNphoto{
	margin: 0 auto;

}

a:link {
	text-decoration: none;
}

nav {
	width: 200px;
	height: 250px;
	background-color: gray;
	position: absolute;
	left: 13px;
	top: 35px;
}

p, h2  {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
	}
figcaption{
font-family: 'Open Sans', sans-serif;
text-align: center
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	margin: 30px auto 10px auto;
	max-width: 300px;
	line-height: 36px;
	text-align: center;
    }

h2 {
	font-size: 2.5em;
	font-weight: 300;
	color: white;
	margin: 0 auto;
}

p {
	margin: 20px auto;
	max-width: 300px;
	font-weight: 300;
	
	/*outline: .5px solid gray;*/
	}

#menu {
	width: 25px;
	height: 25px;
	position: relative;
	top: 3px;
	left: 3px;
	}

#mug {
	display: block;
	margin: 0 auto;
	width: 80px;
	border-radius: 50%;

}

header {
	height: 30px;
	background-color: rgb(142, 113, 94);
	border-bottom: 2px solid #f4501d;
display: flex;
}



@media screen and (min-width: 800px){
p, h1{
	max-width: 475px;
}
}

@media screen and (min-width: 450px)
{
p, h1{
	text-align: left;
}
}

@media screen and (min-width: 700px)
{
	main{
		margin: 90px auto;
		display: flex;
	}
}
