*{
	outline: .5px solid blue;
}

header {
	height: 30px;
	background-color: rgb(142, 113, 94);
	border-bottom: 2px solid #f4501d;
display: flex;
}

li {
list-style: none;
font-family: 'Open Sans', sans-serif;
font-size: 1.5em;
padding: 7px;
}

.navLink {
color: white;	
}

#introNphoto{
	margin: 20px auto;
}

a:link {
	text-decoration: none;
}

nav {
	width: 200px;
	height: 250px;
	background-color: gray;
	position: absolute;
	left: 13px;
	top: 35px;
	display: none;
}

#menu {
	width: 25px;
	height: 25px;
	position: relative;
	top: 3px;
	left: 3px;
}

#mug {
margin: 0 auto;
width: 100%;
display: block;
border-radius: 50%;
/*border: .5px solid black;*/
}

figure{
width: 100px;
height: 100px;
margin: 50px auto;
}

figcaption{
font-family: 'Open Sans', sans-serif;
text-align: center
}

#introBlock{
margin-top: 40px;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 2.5em;
	font-weight: 400;
	margin: 0px auto 20px auto;
	max-width: 300px;
	line-height: 36px;
	text-align: center;
    }

   h3{
   	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
   	
   }

p  {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	max-width: 300px;
	font-weight: 300;
	}
.iconContainer{
	margin: 50px auto 10px auto;
}

.Icons{
	width: 100%;
	border-radius: 50%;
}

@media screen and (min-width: 800px){
p, h1{
	max-width: 475px;
}
}

@media screen and (min-width: 450px)
{
p, h1{
text-align: left;
}
}

@media screen and (min-width: 700px)
{
figure{
	margin: 10px;
}
.iconContainer{
	margin: 50px auto 10px auto;
}
section#introNphoto{
	width: 600px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   /* align-items: center;*/
    justify-content: center;
    margin-top: 70px;
}
#introBlock{
	width: 300px;
	margin: 10px;
}
}
